{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{% static 'cards/img/logo.png' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CadêMeuImóvel.com</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/imoveis.css' %} ?version=4" /> 
    
  </head>

<body>
    <div class="appbar">
        <img src="{% static 'cards/img/logo.png' %}" class="logo" />
        <span class="subtitle" style="color: #ffff">CadêMeuImóvel</span>
    </div>
    
    <main class="container">
      <div class="ajeita"></div>
        <ul class="card-container">
            {% for card in cards %}
            <!-- {% block cards %}{% endblock %} -->
            <div class="card" key="{{ card.id }}">
                <form method="post">
                  
                  <img src="https://s2.glbimg.com/eD-crqTUytvM58P32JtZr_G5cOo=/smart/e.glbimg.com/og/ed/f/original/2018/12/10/apartamento-pequeno-doob-arquitetura09.jpg" class="img_imovel">
                  
                  <div
                    value="{{ card.content }}"
                    name="content"
                    class="card-content"
                    key="{{ card.id }}"
                  >
                    <div class="tipo">Apartamento</div>
                    <div class="rua">{{ card.Rua }}</div>
                    <div class="bairro">{{ card.Bairro }}, São Paulo</div>
                    <div class="info">
                      <div class="area"><svg viewBox="0 0 23.99 9" aria-hidden="true" class="area_icone"><path d="M23 0H1a1 1 0 00-1 1v7a1 1 0 001 1h22a1 1 0 001-1V1a1 1 0 00-1-1zm-1 7H2V2h1v1a1 1 0 002 0V2h2.17v3a1 1 0 001 1 1 1 0 001-1V2H11v1a1 1 0 002 0V2h2v3a1 1 0 001 1 1 1 0 001-1V2h2v1a1 1 0 002 0V2h1z"></path></svg>{{ card.Area }} m²</div>
                      <div class="quartos"><svg viewBox="0 0 24 15" class="quartos_icone"><path d="M23 6h-1V1a1 1 0 00-1-1H3a1 1 0 00-1 1v5H1a1 1 0 00-1 1v7a1 1 0 002 0v-1h20v1a1 1 0 002 0V7a1 1 0 00-1-1zM4 2h16v4h-1V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v2h-2V4a1 1 0 00-1-1H6a1 1 0 00-1 1v2H4zm13 3v1h-2V5zM9 5v1H7V5zm13 6H2V8h20z"></path></svg>{{ card.Quartos }} quartos</div>
                      <div class="banheiros"><svg viewBox="0 0 23 22" aria-hidden="true" class="banheiros_icone"><path d="M19 4h-4V1a1 1 0 00-1-1H7C.5 0 0 4.59 0 6v15a1 1 0 002 0V6c0-1.82.87-4 5-4h6v2H9C5.84 4 5 7.27 5 9a1 1 0 001 1h16a1 1 0 001-1c0-1.73-.84-5-4-5zM7.12 8c.18-.87.66-2 1.88-2h10c1.22 0 1.7 1.13 1.88 2z"></path><path d="M14 12a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1zM14 18a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1zM19 11a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1zM19 17a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1zM9 11a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1zM9 17a1 1 0 00-1 1v2a1 1 0 002 0v-2a1 1 0 00-1-1z"></path></svg>{{ card.Banheiros }} banheiros</div>
                      <div class="vagas"><svg viewBox="0 0 24 19" aria-hidden="true" class="vagas_icone"><path d="M23 7h-.59l.3-.29a1 1 0 00-1.27-1.54L20 .68A1 1 0 0019 0H5a1 1 0 00-1 .68L2.56 5.17a1 1 0 00-1.27 1.54l.3.29H1a1 1 0 00-1 1v7a1 1 0 001 1h1v2a1 1 0 001 1h4a1 1 0 001-1v-2h8v2a1 1 0 001 1h4a1 1 0 001-1v-1.79a1.3 1.3 0 000-.21h1a1 1 0 001-1V8a1 1 0 00-1-1zM5.72 2h12.56L20 7H4.05zM6 17H4v-1h2zm14-.79V17h-2v-1h2a1.3 1.3 0 000 .21zM22 14H2V9h20z"></path><circle cx="5.5" cy="11.5" r="1.5"></circle><circle cx="18.43" cy="11.5" r="1.5"></circle></svg>{{ card.Vagas }} vagas</div>
                    </div>
                    <div class="valor">
                      {% csrf_token %}
                      
                      <h1 class="valor">R$ {{ card.Preco }}</h1>
                    </div>
                  </div>
                </form>  
            </div>
            {% endfor %}
        </ul>
    
    </main>

</body>

</html>

