{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="{% static 'cards/img/logo.png' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CadêMeuImóvel.com</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/index.css' %} ?version=4" /> 
    
  </head>

  <body style="background-image: url(static/cards/img/fundo.jpeg) ">
    <div class="appbar">
        <img src="{% static 'cards/img/logo.png' %}" class="logo" />
        <span class="subtitle" style="color: #ffff">CadêMeuImóvel</span>
      </div>
      
      <main class="container">
      
        <form action="bairroSelecionado" class="form-card" method="post" id="form-container">

            {% csrf_token %}
            <select name="bairro" class="form-card-title">
                <option value="teste" selected disabled hidden>Buscar seu bairro ...</option>
                {% for card in cards %}
                  <option name="title" value="{{ card }}">{{ card }}</option>
                {% endfor %}
              </select>
              <input type="submit" value="Buscar Imóveis" class="btn" style="color : #ffff">
            <!-- <a href="imoveis.html">   -->
              <!-- <button class="btn" type="submit" style="color: #ffff">
                Buscar Imóveis
              </button>    -->
            <!-- </a> -->
        </form>
  </body>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["Copper", 8.94, "#b87333"],
        ["Silver", 10.49, "silver"],
        ["Gold", 19.30, "gold"],
        ["Platinum", 21.45, "color: #e5e4e2"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>
<div id="columnchart_values" style="width: 900px; height: 300px;"></div>
      </main>
</html>

