html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
 .btn {
  
  display: block;
  padding: 10px 15px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #3957bd;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 3%;

  transition: background-color 0.3s;
  align-items: center;  
  align-content: center;
}

.filter-container {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items: center; 
  width:50%;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
} 

.logo {
  height: 90%;
  width: 7%;
  object-fit: contain;
}

.subtitle {
  width: 100%;
  position: relative;
  bottom: 15px;
  font-family: Impact, fantasy;
  font-size: 40px;
  
}

.appbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;  
  align-content: flex-start;
  background-color: #3957bd;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0px;
}


.form-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: auto;
  margin-top: -364px;
  margin-bottom: 25px;
  height: 160px;
  width: 600px;
  padding-top: 30px;
  box-shadow: 0 0 1em #3957bd;
  border-radius: 10%;
  background-color: #ffff;
}

.form-card-title {
  border: none;
  font-size: 18px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 8%;
  
}

.autoresize {
  border-color: white;
  padding: 5px;
  width: 90%;
  margin-left: 5%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  align-content: center; 
}

.card-container1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  align-content: center; 
}


.card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_delete{
  align-items: center;
  justify-content: flex-start;
}

.card {
  border-radius: 10%;
  flex-direction: column;
  box-shadow: 0 0 0.5em #4c4c4c;
  padding: 10px;
  margin: 6px 5px 12px 5px;
  width: 22%;
  height: 300px;
}

.seila{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;  
  align-content: center; 
}

p {
  font-family: 'Permanent Marker', cursive;
  color: #666565;
  align-items: center;

}

.card-title {
  font-family: 'Permanent Marker', cursive;
  height: 30px;
}

.card-content {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  margin:auto;
  height:75%;
}

.x{
  width: 10%;
  height: 10%;
}

.ajeita{
  height: 148px;
}

.graf1{
  height: 417px;
}

.graf1:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.analisa{
  font-size: 40px;
  font-family: Impact, fantasy;
  color: #3957bd;
  margin: 20px;
  background: papayawhip;
  text-align: center;
}